#도커 연동 전.
server:
  port: 8081
jwt:
  secret: my_super_secret_key_is_this_1234567890
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/budget_test_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&allowMultiQueries=true
    username: budget_test_user
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
 # config 설정을 끄기.
  cloud:
    config:
      enabled: false
# gateway 설정
    gateway:
      enabled: false
# eureka 설정
    discovery:
      enabled: true
  application:
    name: user-service_test
# circuit-breaker 설정 끄기.
    circuitbreaker:
      enabled: false
  sql:
    init:
      mode: always
  logging:
    level:
      root: debug
      org.springframework: debug